<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
    
	<%= nav_bar :fixed => :top, :brand => "Ninety Ten" do %>
	    <%= menu_group do %>
	        <%= menu_item "Home", root_path %>
	        <%= menu_item "About Us", about_us_path %>
	        <%= menu_item "Contact", contact_path %>
	    <% end %>
	    <% if current_user %>
	        <%= menu_item "Log Out", log_out_path %>
	    <% else %>
	        <%= menu_group :pull => :right do %>
	            <%= menu_item "Sign Up", registration_path %>
	            <%= form_for @user, :url => session_path(:user) do |f| -%>
	              <p><%= f.text_field :email %></p>
	              <p><%= f.password_field :password %></p>
	              <p><%= f.submit "Sign in" %></p>
	            <% end -%>
	        <% end %>
	    <% end %>
	<% end %>

      <%= yield %>

    </div> <!-- /container -->

<footer>
	Built with <i class="fa fa-heart"></i> using <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://www.rubyonrails.org">Rails</a><br />
	Donate <span class="fa fa-btc"></span> <a href="bitcoin:1B8BzcB1MvKFceLb9fhLLZWcvPoB1B4ree">1B8BzcB1MvKFceLb9fhLLZWcvPoB1B4ree</a>
</footer>
</body>
</html>
